---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: http-echo
spec:
  replicas: 1
  selector:
    matchLabels:
      name: http-echo
  template:
    metadata:
      labels:
        name: http-echo
    spec:
      containers:
        - name: http-echo
          image: hashicorp/http-echo
          env:
            - name: ECHO_TEXT
              value: "Today is not yet Friday!"
          ports:
            - name: http
              containerPort: 5678
