---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: http-echo
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: http-echo
  template:
    metadata:
      labels:
        app.kubernetes.io/name: http-echo
    spec:
      containers:
        - name: http-echo
          image: hashicorp/http-echo
          env:
            - name: ECHO_TEXT
              value: "Greetings! Today is Oracle Cloud Day!"
          ports:
            - name: http
              containerPort: 5678
