---
name: CI - Kubectl

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

# See: https://github.com/marketplace/actions/configure-kubectl-for-oracle-container-engine-for-kubernetes-oke
env:
  OCI_CLI_USER: "${{ secrets.OCI_CLI_USER }}"
  OCI_CLI_TENANCY: "${{ secrets.OCI_CLI_TENANCY }}"
  OCI_CLI_FINGERPRINT: "${{ secrets.OCI_CLI_FINGERPRINT }}"
  OCI_CLI_KEY_CONTENT: "${{ secrets.OCI_CLI_KEY_CONTENT }}"
  OCI_CLI_REGION: "${{ secrets.OCI_CLI_REGION }}"

jobs:
  kubectl:
    name: Apply
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4

      - name: Configure kubectl.
        uses: oracle-actions/configure-kubectl-oke@v1.3.2
        with:
          cluster: ${{ secrets.OKE_CLUSTER_OCID }}

      - name: Show kubectl version.
        run: kubectl version

      - name: Run apply.
        run: kubectl apply -f apps/http-echo

      - name: Set PUBLIC_IP.
        run: echo "PUBLIC_IP=$(kubectl get svc http-echo --namespace default --output jsonpath='{.status.loadBalancer.ingress[0].ip}')" >> $GITHUB_ENV

      - name: Show PUBLIC_IP.
        run: echo ${PUBLIC_IP}

      - name: Curl public ip endpoint.
        run: curl -fsSL --connect-timeout 5 --max-time 30 http://${PUBLIC_IP}/
