---
name: CI - Kubectl

# Run on push to any branch.
on:
  push:
    branches:
      - "*"

# These environment variables are required for using the 'oracle-actions/configure-kubectl-oke' github action.
# The secrets are defined in https://github.com/TIS-Cloud-Team/oracle-cloud-day-kube-demo/settings/secrets/actions.
# Docs: https://github.com/marketplace/actions/configure-kubectl-for-oracle-container-engine-for-kubernetes-oke
env:
  OCI_CLI_USER: "${{ secrets.OCI_CLI_USER }}"
  OCI_CLI_TENANCY: "${{ secrets.OCI_CLI_TENANCY }}"
  OCI_CLI_FINGERPRINT: "${{ secrets.OCI_CLI_FINGERPRINT }}"
  OCI_CLI_KEY_CONTENT: "${{ secrets.OCI_CLI_KEY_CONTENT }}"
  OCI_CLI_REGION: "${{ secrets.OCI_CLI_REGION }}"

jobs:
  kubectl:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      # Git checkout the demo code.
      - name: Check out the codebase.
        uses: actions/checkout@v4

      # Configure kubectl to connect to the kubernetes cluster running in Oracle Cloud.
      # Docs: https://github.com/marketplace/actions/configure-kubectl-for-oracle-container-engine-for-kubernetes-oke
      - name: Configure kubectl.
        uses: oracle-actions/configure-kubectl-oke@v1.3.2
        with:
          cluster: ${{ secrets.OKE_CLUSTER_OCID }}

      # Deploy the application.
      - name: Deploy.
        run: |
          kubectl delete -f apps/http-echo
          kubectl apply -f apps/http-echo

      # Show the public ip address.
      - name: Get IP address.
        run: |
          echo $(kubectl get service http-echo --output jsonpath='{.status.loadBalancer.ingress[0].ip}')
